{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1 class="text-center fw-bold mt-5">Главная</h1>
<p class="text-center text-secondary-emphasis mt-3">Вы находитесь на сайте, предназначенном для продажи товаров.</p>
<div class="container mt-5">
    <div class="row mt-3">
        {% for product in page_obj %}
        <div class="col-4">
            <div class="card">
              <div class="card-header">
                <h2 class="text-center">{{ product.title }}</h2>
              </div>
              <div class="card-body">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="card-img-top">
                {% endif %}
                <h3 class="card-title text-center">{{ product.price }}</h3>
                <p class="card-text text-center">{{ product.description|truncatechars:100 }}</p>
                <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-outline-primary w-100">Подробнее</a>
              </div>
            </div>
        </div>
        {% empty %}
        <p>Нет товаров для отображения.</p>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
</div>
{% endblock %}